p{
	color: red ;
	/*!important*/
}
#mien_bac li{
	color: red;
}
div ul{
	color: red;
}
div>ul{
	color: green;
}
div + p{
	color: yellow;
}
div~p{
	color: yellow;
}
a[tittle='web26']{
	color: gray;
}
#mien_bac li:nth-child(3){
	color: pink;
}
#mien_nam li:nth-child(2){
	color: orange;
}


