#main{
	width: 50%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	background-image: url('background/bg.jpg');
	padding:1%;
}
#tab>button{
	border: none;
    background-color:orange ;
    color: white;
    padding: 1% 2%;
    margin-right: 1%;
}
.content-section{
	clear: both;
	background-color: white;
	padding:2%;
	margin:0;
}
h3{
    margin: 0;
    padding: 2% 0 0 2%;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
}
.tabcontent{
	display: none;
}
.active{
	border:2px solid blue!important;
}