*{
	margin: 0;
	padding: 0;
}
.menu{
	width: 95%;
	margin: 0 auto;
	height: auto;
	font-family: Arial;
	font-size: 14px;
}
nav{
	background-color: #7EB044;
	color: white;
	height: 50px;
}
.menu nav ul li{
	height: 50px;
	float: left;
	position: relative;
	padding-left: 10px;
	line-height: 50px;
	vertical-align: middle;
	list-style-type: none;
}
.menu nav ul li a{
	text-decoration: none;
	color: white;
	padding-right: 10px;
}
.menu nav ul li a:hover{
	color: orange;
	font-weight: bold;	
}
#search-icon{
	float: left;
	width: 35px;
	height: 35px;
	position: relative;
	left: 160px;
	top: 8px;
	border: 1px solid white;
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
}
#search-icon:hover{
	background-color: white;
	color: black;
}
i{
	position: relative;
	padding-right: 6px;
}
/*thêm border right*/
.add-border{
	border-right: 1px solid #D8D8D8;
	padding-right: 7px;
}
.sub-menu li a{
	color: black !important;
}
.menu nav ul li:hover .sub-menu{
	display:block;
}
.sub-menu{
	display: none;
	position: absolute;
	left: 0px;
	top: 51px;
	background-color: #90c95a;
}
.sub-menu li{
	width: 230px;
}
#edit-height li{
	height: 30px;
	line-height: 30px;
	display: block;
	border-bottom: 1px solid green;
	cursor: pointer;
}
.sub-menu li a:hover {
	color: white !important;
}
.edit-width{
	width: 200px;
}
.edit-width li{
	width: 190px !important;
}
#news{
	position: relative;
}
#sub-of-news{
	display: none;
	left: 201px;
	top: 2px;
}
#sub-of-news li{
	border-bottom: 1px solid white;
}
#news:hover #sub-of-news{
	display: block;
}